body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    background-image: url("../ima/backBody_fondo-verde-palabras-datos-escritas_662214-119475.jpg");
    background-position: center;
    background-repeat: repeat;
    text-align: justify;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Ajuste del tamaño del libro */
#mybook {
    width: 900px !important;
    height: 600px !important;
    margin: auto;
    display: block;
    padding: 5px;
    background-position: center;
    background-repeat: repeat;
    border-radius: 5px;
    box-shadow: 6px 6px 9px rgba(50, 50, 50, 0.75);
}

.booklet {
    width: 900px !important;
    height: 600px !important;
    position: relative;
    margin: auto;
    overflow: hidden !important;
}

/* Ajuste de las páginas del libro */
.booklet .b-page {
    left: 0;
    top: 5px;
    position: absolute;
    overflow: hidden;
    padding: 0;
}

.booklet .b-wrap {
    top: 0;
    position: absolute;
}

.booklet .b-wrap-left, .booklet .b-wrap-right {
    background-color: #FFFFFF;
}

.booklet .b-page-cover {
    padding: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
}

/* Ajuste de navegación */
.b-arrow-prev {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 15%;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
}

.b-arrow-next {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 15%;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
}

a:link {
    color: #91962F;
}

a:visited {
    color: #CACF67;
}
