body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    background-image: url("../ima/backBody_fondo-verde-palabras-datos-escritas_662214-119475.jpg");
    background-position: center;
    background-repeat: repeat;
    text-align: justify;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Ajuste responsivo del libro */
.booklet {
    width: 90vw; /* Ajuste responsivo */
    height: 85vh; /* Ajuste responsivo */
    position: relative;
    margin: auto;
    overflow: visible !important;
    max-width: 1200px; /* Limitar ancho máximo */
    max-height: 800px; /* Limitar altura máxima */
}

/* Corrección de la portada y contraportada */
.booklet .cover,
.booklet .b-page-cover {
    width: 100%;
    height: 100%;
    text-align: center;
    background-position: center;
    background-size: cover;
}

/* Ajustar página única para portada y contraportada */
.booklet .b-page-cover:first-child,
.booklet .b-page-cover:last-child {
    display: block;
}

/* Ajustar tamaño y posición del contenido */
.booklet .b-page {
    left: 0;
    top: 5px;
    position: absolute;
    overflow: hidden;
    padding: 0;
}

/* Ajuste de botones de navegación */
.b-prev, .b-next {
    width: 50px; /* Ajusta el tamaño de los botones */
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.b-prev {
    left: 5%;
}

.b-next {
    right: 5%;
}

/* Ajustar tamaño del libro */
#mybook {
    width: 90vw;
    height: 85vh;
    margin: auto;
    display: block;
    max-width: 1200px;
    max-height: 800px;
    padding: 5px;
    background-image: url("../ima/FP_3 Pto comp.jpg");
    background-position: center;
    background-repeat: repeat;
    border-radius: 5px;
    box-shadow: 6px 6px 9px rgba(50, 50, 50, 0.75);
}

#mybook p {
    text-align: justify;
}
